<a href="https://colab.research.google.com/github/Mohd-Talha0/MLP/blob/main/Mock_OPPE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data = pd.read_csv('/content/V1.csv')

data.shape

(20000, 15)

In [32]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
2,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

- Is there any Missing values in the given dataset ?

In [26]:
missing_values = data.isnull()
missing_counts = missing_values.sum()
print("Columns with missing values:")
print(missing_counts[missing_counts > 0])

Columns with missing values:
workclass         1137
occupation        1140
native-country     354
dtype: int64

- Q4 - Check all " ?" symbol in the dataset and replace it with "np.nan" value . Which of the columns in the dataset have null values?

In [29]:
import numpy as np

data.replace(" ?", np.nan, inplace=True)
columns_with_null = data.columns[data.isnull().any()].tolist()

print("Columns with null values:")
print(columns_with_null)

Columns with null values:
['workclass', 'occupation', 'native-country']

- Q5 What fraction of total samples (in percentage) have missing value in occupation column?

In [31]:
answer= 100*1140/20000
answer

5.7

- Q6 What fraction of total samples(In percentage) have income <= 50k in the given dataset? (round the value upto 2 decimal places).

In [37]:
criteria = data.IncomeGroup == " <=50K"
data.loc[criteria]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
6,43,Private,334946,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,51,Self-emp-not-inc,171924,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19994,62,Private,252668,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,70,United-States,<=50K
19996,62,Private,57970,7th-8th,4,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
19998,25,Private,29020,Assoc-acdm,12,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,45,United-States,<=50K
19999,55,Private,256953,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,Black,Female,0,0,44,United-States,<=50K

- Q7 What is the mean age of the samples given in the dataset(mark the closest integer from the given options)?

In [39]:
data.age.mean()

38.553

- Q8 How many people have completed their education upto "Preschool" only ?

In [42]:
criteria2 = data.education == " Preschool"
data.loc[criteria2].count()

age               32
workclass         28
fnlwgt            32
education         32
education-num     32
marital-status    32
occupation        28
relationship      32
race              32
sex               32
capital-gain      32
capital-loss      32
hours-per-week    32
native-country    31
IncomeGroup       32
dtype: int64

- Q9 What is the correlation cofficient between column "education-num" and column "capital-gain" ?

In [45]:
data['capital-gain']

0            0
1            0
2        27828
3            0
4            0
         ...
19995        0
19996        0
19997        0
19998        0
19999        0
Name: capital-gain, Length: 20000, dtype: int64

In [44]:
correlation_coefficient = data['education-num'].corr(data['capital-gain'])

print("Correlation coefficient between 'education-num' and 'capital-gain':", correlation_coefficient)

Correlation coefficient between 'education-num' and 'capital-gain': 0.12456727883397226

- Q10 Apply SimpleImputer with strategy = 'most_frequent' to replace all NaN value by mode of respective column in the original dataset.(Use this updated dataset only for all further questions)

What is the mode of 'occupation' column of updated datset?

In [49]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(data)

# Transform the dataset, replacing NaN values with the most frequent value of each column
data_imputed = pd.DataFrame(imputer.transform(data), columns=data.columns)

# Display the DataFrame with NaN values replaced by mode
#print("DataFrame with NaN values replaced by mode:")
#print(data_imputed)

age                                54
workclass                Self-emp-inc
fnlwgt                          99185
education                   Doctorate
education-num                      16
marital-status     Married-civ-spouse
occupation             Prof-specialty
relationship                  Husband
race                            White
sex                              Male
capital-gain                        0
capital-loss                        0
hours-per-week                     50
native-country                    NaN
IncomeGroup                      >50K
Name: 16, dtype: object

In [50]:
# Find the mode of the 'occupation' column
occupation_mode = data_imputed['occupation'].mode()[0]

print("Mode of 'occupation' column:", occupation_mode)

Mode of 'occupation' column:  Prof-specialty

- Q11 Split the dataset into X1, X2 and y, where X1 contains all Numerical features, X2 contains all categorical features(except "IncomeGroup") and save 'IncomeGroup' column in y variable. Then apply OneHotEncoder on the categorical features(X2) with option (sparse = False) and StandardScaler on the numerical features (X2).

What is the total number of columns in X1 and X2 variables respectively?

In [101]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

#numeric_data = dataset.select_dtypes(include=[np.number])
#categorical_data = dataset.select_dtypes(exclude=[np.number])

numerical_features = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
categorical_features = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

X1 = data_imputed[numerical_features]
X2 = data_imputed[categorical_features]
y = data_imputed['IncomeGroup']
# X1 = X1.to_numpy().reshape(-1, 1)
# X2 = X2.to_numpy().reshape(-1, 1)

#Apply OneHotEncoder on categorical features (X2)
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
X2_encoded = ohe.fit_transform(X2)

# Apply StandardScaler on numerical features (X1)
scaler = StandardScaler()
X1_scaled = scaler.fit_transform(X1)

               workclass    education       marital-status  \
0       Self-emp-not-inc      7th-8th              Widowed
1                Private         11th        Never-married
2                Private    Bachelors        Never-married
3                Private      HS-grad   Married-civ-spouse
4                Private         11th        Never-married
...                  ...          ...                  ...
19995            Private    Bachelors   Married-civ-spouse
19996            Private      7th-8th             Divorced
19997            Private    Bachelors   Married-civ-spouse
19998            Private   Assoc-acdm             Divorced
19999            Private      HS-grad              Widowed

               occupation     relationship    race      sex  native-country
0           Other-service    Not-in-family   White   Female   United-States
1           Other-service   Other-relative   White     Male   United-States
2         Farming-fishing        Own-child   White     Male   United-States
3          Prof-specialty          Husband   White     Male   United-States
4       Machine-op-inspct        Unmarried   White   Female   United-States
...                   ...              ...     ...      ...             ...
19995               Sales             Wife   White   Female   United-States
19996   Handlers-cleaners    Not-in-family   White     Male   United-States
19997     Exec-managerial          Husband   White     Male   United-States
19998        Adm-clerical    Not-in-family   Black   Female   United-States
19999   Machine-op-inspct        Unmarried   Black   Female   United-States

[20000 rows x 8 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [107]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
# Combine encoded categorical features and scaled numerical features
X = pd.concat([pd.DataFrame(X1_scaled), pd.DataFrame(X2_encoded)], axis=1)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=64)

# Display the first few rows of X and y
print("X (features) shape:", X.shape)
print("y (target) shape:", y.shape)

X (features) shape: (20000, 105)
y (target) shape: (20000,)

(16000, 105)

In [116]:
X_test.shape

(4000, 105)

#### Q15 Instantiate a perceptron classifier that with following parameters:-
- Fit the intercept
- Put warm start to be False
- Fit this perceptron model with the training dataset and calculate the accuracy score for training data.
Which of the following option matches with the score?

In [109]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

# Instantiate Perceptron classifier with specified parameters
perceptron_clf = Perceptron(fit_intercept=True, warm_start=False)

# Fit the perceptron model with the training dataset
perceptron_clf.fit(X_train, y_train)

# Predict using the trained model on the training data
y_pred = perceptron_clf.predict(X_train)

# Calculate accuracy score for training data
accuracy_train = accuracy_score(y_train, y_pred)
print("Accuracy score for training data:", accuracy_train)

Accuracy score for training data: 0.813

#### Q16 Create a new Perceptron object with given settings in the instrunctions and train it on training set . What is the value of bias (intercept) (upto 1 decimal point) ?
- Set early stopping and
- fit intercept to be True
- Put warm start to be False

In [112]:
perceptron_clf = Perceptron(fit_intercept=True, warm_start=False, early_stopping=True)

# Fit the perceptron model with the training dataset
perceptron_clf.fit(X_train, y_train)

# Predict using the trained model on the training data
#y_pred = perceptron_clf.predict(X_train)

# Retrieve the intercept (bias) value
intercept_value = perceptron_clf.intercept_[0]

print(intercept_value)

-6.0

#### Q17 Use SGDClassifier on the training dataset (X_train and y_train) to train the model. Use the following parameters:

- log is the loss function to be used
- apply ridge regularization,
- maximum number of passes over the training data is 10
- initial learning rate is 0.01,
- regularization rate value is 0.001,
- learning rate should not change during training.
- Take random_state=64.
- Set warm_state as False

Note : Please ignore the convergence warning.

Based on this operation, calculate and enter the correct value of accuracy (Upto 4 decimal points).

In [117]:
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score

# Instantiate SGDClassifier with specified parameters
sgd_clf = SGDClassifier(loss='log', penalty='l2', max_iter=10, learning_rate='constant', eta0=0.01, alpha=0.001, warm_start=False, random_state=64)

# Train the model on the training dataset
sgd_clf.fit(X_train, y_train)

# Predict on the training set
y_pred = sgd_clf.predict(X_train)

# Calculate accuracy on the training set
accuracy = accuracy_score(y_train, y_pred)

print("Accuracy on training set:", round(accuracy, 4))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:163: FutureWarning: The loss 'log' was deprecated in v1.1 and will be removed in version 1.3. Use `loss='log_loss'` which is equivalent.
  warnings.warn(

Accuracy on training set: 0.8511

#### Q18 Take LogisticRegression estimator with following parameters for fitting on the training dataset:
- Use sag as solver
- Set random state to be equal to 64
- Tolerance for stopping criteria to be 1e-3
- Maximum number of iterations taken for the solvers to converge to be 100

Enter the recall score you got for the given model (Take average as macro).

In [118]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score

# Instantiate LogisticRegression with specified parameters
logistic_reg = LogisticRegression(solver='sag', random_state=64, tol=1e-3, max_iter=100)

# Train the model on the training dataset
logistic_reg.fit(X_train, y_train)

# Predict on the training set
y_pred = logistic_reg.predict(X_train)

# Calculate recall score on the training set (average='macro')
recall = recall_score(y_train, y_pred, average='macro')

print("Recall score on training set:", recall)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Recall score on training set: 0.7630706745050128

#### Q19 Use Gridsearchcv with KNeighborsClassifier() being the estimator, accuracy as scoring parameter, cv value as 4 and consider [1,3,5,7] as "number of neighbors" to be examined.

Consider following parameters for KNeighborsClassifier():

Take metric as 'minkowski',
Set P value as 2

Keep other parameter values as default value.

What is the best value of K you obtained using above instruction?

In [119]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

# Define the parameter grid
param_grid = {'n_neighbors': [1, 3, 5, 7],
              'metric': ['minkowski'],
              'p': [2]}

# Instantiate the KNeighborsClassifier
knn = KNeighborsClassifier()

# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=knn, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Get the best parameters
best_k = grid_search.best_params_['n_neighbors']

print("Best value of K:", best_k)

Best value of K: 7

#### Q20 Take DecisionTreeClassifier(random_state = 64) with GridSearchCV to train the model.Hyperparameter tuning to be done over the following parameters:

- Use criterion as 'entropy' or 'gini'
- Use splitter as 'random' or 'best'
- Use minimum number of samples per leaf as [2,4,6,8,10]
- Use maximum depth as [3,4,5,6]
- Use cross validation = 4
- Enter the value (up to 2 decimal points) of the 'score' on testing set using best model.

In [120]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

# Define the parameter grid
param_grid = {
    'criterion': ['entropy', 'gini'],
    'splitter': ['random', 'best'],
    'min_samples_leaf': [2, 4, 6, 8, 10],
    'max_depth': [3, 4, 5, 6]
}

# Instantiate DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(random_state=64)

# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=dt_classifier, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Get the best model
best_dt_model = grid_search.best_estimator_

# Predict on the testing set
y_pred = best_dt_model.predict(X_test)

# Calculate accuracy on the testing set
accuracy_test = accuracy_score(y_test, y_pred)

print("Accuracy on testing set using best model:", round(accuracy_test, 2))

Accuracy on testing set using best model: 0.85

#### Q21 Enter the value of best max_depth of the model after training with GridSearchCV.

In [121]:
best_max_depth = grid_search.best_params_['max_depth']
print("Best max_depth:", best_max_depth)

Best max_depth: 6

#### Q22 Enter the value of best min_samples_leaf of the model after training with GridSearchCV.

In [122]:
best_min_samples_leaf = grid_search.best_params_['min_samples_leaf']
print("Best min_samples_leaf:", best_min_samples_leaf)

Best min_samples_leaf: 10

#### Q23 What are the number of nodes in the optimal tree?

In [123]:
best_dt_model = grid_search.best_estimator_
number_of_nodes = best_dt_model.tree_.node_count
print("Number of nodes in the optimal tree:", number_of_nodes)

Number of nodes in the optimal tree: 75

#### 24 Take RandomForestClassifier (random state to be 64) with GridSearchCV to tune the number of decision trees with training set. The number of trees in forest can range from 5 to 10 (both inclusive). Mark the number of decision trees that will produce the best score on the training data.

In [124]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {'n_estimators': list(range(5, 11))}

# Instantiate RandomForestClassifier
rf_classifier = RandomForestClassifier(random_state=64)

# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Get the best number of trees
best_n_estimators = grid_search.best_params_['n_estimators']

print("Number of decision trees that produce the best score on the training data:", best_n_estimators)

Number of decision trees that produce the best score on the training data: 10

#### 25 Take an adaboost model with following hyperparameter values and tune it using GridsearchCV.
Use n_estimators as [10,20,30]
random_state = 64
Use learning_rate as [0.5,1,2]
Take cv value= 4
Train the 'model' using above instructions and enter the 'accuracy score' (up to 3 decimal points) on the test data.

In [125]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

# Define the parameter grid
param_grid = {
    'n_estimators': [10, 20, 30],
    'learning_rate': [0.5, 1, 2]
}

# Instantiate AdaBoostClassifier
ada_boost = AdaBoostClassifier(random_state=64)

# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=ada_boost, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Get the best model
best_ada_boost_model = grid_search.best_estimator_

# Predict on the testing set
y_pred = best_ada_boost_model.predict(X_test)

# Calculate accuracy on the testing set
accuracy_test = accuracy_score(y_test, y_pred)

print("Accuracy score on the test data:", round(accuracy_test, 3))

Accuracy score on the test data: 0.853

#### 26
Enter the value of best n_estimators of the model after training with GridSearchCV.

In [126]:
best_n_estimators = grid_search.best_params_['n_estimators']
print("Best n_estimators:", best_n_estimators)

Best n_estimators: 30

#### Q27 Apply GridsearchCV and support vector machine (SVM)(kernel':('linear', 'rbf'), 'C':[1, 10]) on the training dataset X_train, y_train and calculate the best value of C and kernel. Which of the following options represent the best parameters. (Keep patience: It is common if it takes arround 5 min to complete the run.)

In [127]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {'kernel': ['linear', 'rbf'], 'C': [1, 10]}

# Instantiate SVM classifier
svm_classifier = SVC()

# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=svm_classifier, param_grid=param_grid, scoring='accuracy', cv=4)

# Fit the grid search to the training data
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_

print("Best parameters:", best_params)

Best parameters: {'C': 1, 'kernel': 'rbf'}