<a href="https://colab.research.google.com/github/Mohd-Talha0/MLP/blob/main/Mock_OPPE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data = pd.read_csv('/content/V1.csv')

data.shape

(20000, 15)

In [32]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
2,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

- Is there any Missing values in the given dataset ?

In [26]:
missing_values = data.isnull()
missing_counts = missing_values.sum()
print("Columns with missing values:")
print(missing_counts[missing_counts > 0])

Columns with missing values:
workclass         1137
occupation        1140
native-country     354
dtype: int64

- Q4 - Check all " ?" symbol in the dataset and replace it with "np.nan" value . Which of the columns in the dataset have null values?

In [29]:
import numpy as np

data.replace(" ?", np.nan, inplace=True)
columns_with_null = data.columns[data.isnull().any()].tolist()

print("Columns with null values:")
print(columns_with_null)

Columns with null values:
['workclass', 'occupation', 'native-country']

- Q5 What fraction of total samples (in percentage) have missing value in occupation column?

In [31]:
answer= 100*1140/20000
answer

5.7

- Q6 What fraction of total samples(In percentage) have income <= 50k in the given dataset? (round the value upto 2 decimal places).

In [37]:
criteria = data.IncomeGroup == " <=50K"
data.loc[criteria]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
3,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
6,43,Private,334946,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,51,Self-emp-not-inc,171924,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19994,62,Private,252668,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,70,United-States,<=50K
19996,62,Private,57970,7th-8th,4,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
19998,25,Private,29020,Assoc-acdm,12,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,45,United-States,<=50K
19999,55,Private,256953,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,Black,Female,0,0,44,United-States,<=50K

- Q7 What is the mean age of the samples given in the dataset(mark the closest integer from the given options)?

In [39]:
data.age.mean()

38.553

- Q8 How many people have completed their education upto "Preschool" only ?

In [42]:
criteria2 = data.education == " Preschool"
data.loc[criteria2].count()

age               32
workclass         28
fnlwgt            32
education         32
education-num     32
marital-status    32
occupation        28
relationship      32
race              32
sex               32
capital-gain      32
capital-loss      32
hours-per-week    32
native-country    31
IncomeGroup       32
dtype: int64

- Q9 What is the correlation cofficient between column "education-num" and column "capital-gain" ?

In [45]:
data['capital-gain']

0            0
1            0
2        27828
3            0
4            0
         ...
19995        0
19996        0
19997        0
19998        0
19999        0
Name: capital-gain, Length: 20000, dtype: int64

In [44]:
correlation_coefficient = data['education-num'].corr(data['capital-gain'])

print("Correlation coefficient between 'education-num' and 'capital-gain':", correlation_coefficient)

Correlation coefficient between 'education-num' and 'capital-gain': 0.12456727883397226

- Q10 Apply SimpleImputer with strategy = 'most_frequent' to replace all NaN value by mode of respective column in the original dataset.(Use this updated dataset only for all further questions)

What is the mode of 'occupation' column of updated datset?

In [49]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(data)

# Transform the dataset, replacing NaN values with the most frequent value of each column
data_imputed = pd.DataFrame(imputer.transform(data), columns=data.columns)

# Display the DataFrame with NaN values replaced by mode
#print("DataFrame with NaN values replaced by mode:")
#print(data_imputed)

age                                54
workclass                Self-emp-inc
fnlwgt                          99185
education                   Doctorate
education-num                      16
marital-status     Married-civ-spouse
occupation             Prof-specialty
relationship                  Husband
race                            White
sex                              Male
capital-gain                        0
capital-loss                        0
hours-per-week                     50
native-country                    NaN
IncomeGroup                      >50K
Name: 16, dtype: object

In [50]:
# Find the mode of the 'occupation' column
occupation_mode = data_imputed['occupation'].mode()[0]

print("Mode of 'occupation' column:", occupation_mode)

Mode of 'occupation' column:  Prof-specialty

- Q11 Split the dataset into X1, X2 and y, where X1 contains all Numerical features, X2 contains all categorical features(except "IncomeGroup") and save 'IncomeGroup' column in y variable. Then apply OneHotEncoder on the categorical features(X2) with option (sparse = False) and StandardScaler on the numerical features (X2).

What is the total number of columns in X1 and X2 variables respectively?

In [56]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

# Split dataset into X1, X2, and y
X1 = data_imputed.select_dtypes(include=['int', 'float']).drop(columns=['IncomeGroup'])
X2 = data_imputed.select_dtypes(include=['object']).drop(columns=['IncomeGroup'])
y = data['IncomeGroup']

# Apply OneHotEncoder on categorical features (X2)
ohe = OneHotEncoder(sparse=False)
X2_encoded = ohe.fit_transform(X2)

# Apply StandardScaler on numerical features (X1)
scaler = StandardScaler()
X1_scaled = scaler.fit_transform(X1)

KeyError: "['IncomeGroup'] not found in axis"

In [ ]:
# Combine encoded categorical features and scaled numerical features
X = pd.concat([pd.DataFrame(X1_scaled, columns=X1.columns), pd.DataFrame(X2_encoded, columns=ohe.get_feature_names(X2.columns))], axis=1)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the first few rows of X and y
print("X (features) shape:", X.shape)
print("y (target) shape:", y.shape)